<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="<%- webpackAsset('app.css') %>">
    </head>    
    <body>
        <script src="<%- webpackAsset('vendor.js') %>"></script>
        <script src="<%- webpackAsset('app.js') %>"></script>
        <div id="root"></div>
    </body>
</html>