.carusel-parent {
    width: 100%;
    height:200px;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.carusel-child {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height:100%;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important; 
}